<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Hub</title>
    <link rel="stylesheet" th:href="@{/css/EducationContentStyle.css}">
</head>
<body>
<h1> Education Content</h1>
<h2> Educational Videos </h2>
    <h3>Brief about Sustainability</h3>
    <iframe width="530" height="250" src="https://www.youtube.com/embed/V-GtTOsJlOY" title="Sustainability Explained in 1 MINUTE" frameborder="0" allow="accelerometer;
     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

     <iframe width="530" height="250" src="https://www.youtube.com/embed/2EZ50wxosDg?si=XDp1_91grEVYiEC4" title="YouTube video player" frameborder="0" allow="accelerometer;
     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     

     <h3>Best ways to recycle and why is it important</h3>
     <iframe width="530" height="250" src="https://www.youtube.com/embed/jsp7mgYv3aI" title="Recycling 101: How to Properly Recycle at Home" frameborder="0" allow="accelerometer;
     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

     <iframe width="530" height="250" src="https://www.youtube.com/embed/VoCdL4WAy60?si=fPKjU1J-foGEfIAv" title="YouTube video player" frameborder="0" allow="accelerometer;
     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

     <h3>Energy Effeciency Tips</h3>
     <iframe width="530" height="250" src="https://www.youtube.com/embed/pY6fAYkscTY" title="Saving Energy at Home - Energy Efficiency Tips" frameborder="0" allow="accelerometer;
     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

     <iframe width="530" height="250" src="https://www.youtube.com/embed/RzTIO0MMK9I?si=t8IhCAzODOjXRcf7" title="YouTube video player" frameborder="0" allow="accelerometer;
     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>

     <button type="button" class="home"><a th:href="@{/eco-track/home}"> Back to home page</a> </button>

     </body>

    <footer>&copy; 2024 EcoTrack - Environment Sustainability Tracker. All rights reserved.</footer>

</html>