<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/css/LoginPageStyle.css}">
        <title> Login </title>
    </head>
    <body>
        <h1> Login </h1>
        <form id="loginForm" th:action="@{/eco-track/login}" method="post">
            <label> Username/Email: </label><br>
            <input type="text" id="username" name="username" required><br>
            <label> Password: </label><br>
            <input type="password" id="password" name="password" minlength="4" required><br>
            <button type="button" class="loginBtn"> <a th:href="@{/eco-track/home}">Login</a></button>
            <button type="button" class="exitBtn"> Exit </button>
        </form>
        <div th:if="${param.error}">
            <p style="color: red"> Invalid credentials </p>
        </div>
        <div th:if="${param.logout}">
            <p style="color: green"> You have been logged out </p>
        </div>
        <p> Don't have an account, <a th:href="@{/eco-track/register}"> Register </a></p>
        <script th:src="@{/js/LoginPageScript.js}"></script>
    </body>

    <footer>&copy; 2024 EcoTrack-Environment Sustainability Tracker. All rights reserved.</footer>

</html>